h1 {
    color: darkred;
}

.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

input, label, text area {
    display: block;
    margin-top: .3em;
}

h2 {
    color: darkblue;

}

h3 {
    color: darkgreen;
}