h1 {
    color: darkblue;
}

.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

input, label, text area {
    display: block;
    margin-top: .3em;
}

h2 {
    color: red;

}

img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}